[Unit]
Description=gunicorn daemon
After=network.target

[Service]
PermissionsStartOnly=true
PIDFile=/run/gunicorn/pid
User=nginx
Group=nginx
WorkingDirectory=/var/www/shortener
Environment="PATH=/var/www/shortener/.env/bin"
ExecStartPre=/usr/bin/install -m 0755 -o nginx -g nginx -d /run/gunicorn
ExecStart=/var/www/shortener/.env/bin/gunicorn --pid /run/gunicorn/pid \
                                               --bind unix:/run/gunicorn/socket \
                                               --workers 6 \
                                               --worker-class aiohttp.worker.GunicornWebWorker \
                                               shortener.main:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
